.movies-container {
  padding: 2rem;
  color: white;
  margin: 5rem 0;
}

.movies-container h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.movies-slider {
  display: flex;
  /* overflow-x: auto;
  gap: 1rem;
  scroll-behavior: smooth;
  padding: 1rem; */
  flex-wrap: wrap;
  gap: 2rem;
}

.movie-card {
  min-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-shrink: 0;
  background-color: #1e1e1e;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  aspect-ratio: 2 / 3;
  margin-bottom: 0.5rem;
}

.movie-card h3 {
  font-size: 1rem;
  margin: 0;
}

 .rating {
  display: flex;
  justify-content: space-between;
}
.movie-card .rating p {
  margin: 0.3rem 0;
  font-size: 0.7rem;
}