.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.navbar-logo:hover{
  color: gold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: flex;
  align-items: center;
}

.navbar-links li a,
.logout-btn {
  color: white;
  text-decoration: none;
  background-color: #04AA6D;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.logout-btn:hover,
.navbar-links li a:hover {
  text-decoration: underline;
}
